.post_wrapper {
  display: inline-flex;
  background-color: rgb(229, 232, 233);
  margin: 5px;
  width: fit-content;
  border-radius: 5px;
}

.post_ava {
  display: flex;
  align-items: center;
}

.ava {
  padding: 2px;
  width: 40px;
  height: 40px;
  border-radius: 25px;
}

.post_message {
 margin: 10px;
}

.like {
  margin: 1px;
  display: flex;
  align-items: flex-end;
}
.like img {
  width: 12px;
}