.app_wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.app_content {
  display: flex;
  width: 100%;
  flex: 1 1 auto;
  
  background-color: rgb(229, 232, 233);
  margin: 5px 0;
  
}

.content_wrapper {
  background-color: white;
  padding: 5px;
  min-height: 80vh;
  flex: 1 1 auto;
  
}
