.app-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow: hidden;
}

.app-content {
  display: inline-flex;
  flex: 1 1 100%;
  background-color: rgb(229, 232, 233);
  margin: 5px 0;
  /* justify-content: center; */
}

.content_wrapper {
  background-color: white;
  padding: 5px;
  flex: 100%;
}
