.dialogs {
  display: flex;
  padding: 25px;
  background-color: white;  
}

.dialogs_items {
  width: 25%;
}

.line {
  width: 1px;
  border: 1px solid black;
  
}
.messages {
  width: 75%;
}


/* .active {
  color: gold;
} */